.gameplay-container-2 {
  align-self: self-end;
  min-width: 840px;
  min-height: 600px;
  position: relative;
  align-content: center;
}

.img-game-background-2 {
  width: 100%;
  min-height: 600px;
}

.img-tutorial-background-2 {
  width: 100%;
  min-height: 500px;
  background-color: rgb(255, 109, 153);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  border-radius: 50px;
  width: 840px;
  height: 600px;
}

.img-tutorial-2 {
  height: 100%;
  width: 100%
}

.img-container-2 {
  display: inline-block;
  position: relative;
  width: 840px;
  height: 600px;
  object-fit: fill;
}

.img-tutorial-container-2 {
  display: inline-block;
  max-width: 400px;
}

.tutorial-description-2 {
  width: 350px;
  height: 220px;
  color: #ffcc33;
  font-size: 60px;
  word-wrap: break-word;
  margin: 20px;
}

.img-lightbulb-2 {
  transform: rotateZ(20deg)
}

.gameplay-description-2 {
  color: #000;
  font-size: 30px;
  word-wrap: break-word;
  margin: 20px auto;
  text-align: center;
}

.gameplay-wrong-description-2 {
  color: #000;
  font-size: 25px;
  word-wrap: break-word;
  margin: 20px auto;
  text-align: center;
}

.gameplay-show-container-2 {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.gameplay-show-2 {
  display: flex;
justify-content: center;
align-items: center;
align-content: center;
min-height: 200px;
}

.show-img-container-2-1 {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  grid-template-rows: repeat(2, auto);
  background: rgba(0, 198, 255, 0.14);
  box-sizing: border-box;
  max-width: 500px;
  max-height: 200px;
  width: 100%;
}

.show-img-container-2-2 {
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  grid-template-rows: repeat(2, auto);
  box-sizing: border-box;
  max-width: 375px;
  max-height: 150px;
  width: 100%;
}

.show-img-2-1 {
  border: 1px solid rgb(0, 198, 255);
  box-sizing: border-box;
  height: 100px;
  width: 100px;
  background: rgba(0, 198, 255, 0.14);
}

.show-img-2-2 {
  border: 1px solid rgb(0, 198, 255);
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  background: rgba(0, 198, 255, 0.14);
}

.show-dot-2-1 {
  height: 98px;
  width: 98px;
  border-radius: 50%;
  display: inline-block;
  background-color: yellow;
  margin-bottom: 3px;
  margin-right: 5px;
}

.show-dot-2-2 {
  height: 73px;
  width: 73px;
  border-radius: 50%;
  display: inline-block;
  background-color: yellow;
  margin-bottom: 3px;
  margin-right: 5px;
}

.img-item-2 {
  max-width: 100%;
}

.img-screen-2 {
  width:840px;
  height:600px;
}

.hr-2 {
  border-bottom: 2px dashed rgb(210, 210, 210);
  border-top: 0px none;
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 2rem;
}
.button-answer-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button-answer-group-2 {
  display: inline-block;
}

.button-answer-2 {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(5, auto);
}

.button-choose-2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3399ff;
  border: none;
  border-radius: 50px;
  box-shadow: #999 0px 9px 0px 0px;
}

.button-choose-2:hover {background-color: #0099cc}

.button-choose-2:active {
  background-color: #ffc107;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-true-2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #30d585;
  border: none;
  border-radius: 50px;
  box-shadow: #999 0px 9px 0px 0px;
}

.button-true-2:hover {background-color: #20c274}

.button-true-2:active {
  background-color: #20c274;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-group-2 {
  top:80%;
  left: 38%;
  margin: 0 auto;
  position: absolute;
}

.button-group2-2 {
  top:80%;
  left: 40%;
  margin: 0 auto;
  position: absolute;
  margin-top: 10px;
}

.button-group3-2 {
  top: 70%;
  left: 1%;
  margin: 0 auto;
  position: absolute;
  margin-top: 10px;
}

.wrong-description-container-2 {
  height: 600px;
  width: 840px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  border-radius: 50px;
}

.wrong-description-2 {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  border-radius: 50px;
}

.wrong-img-container-2 {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top: 3rem;
}

.wrong-img-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.wrong-title-2 {
  font-size: 20px;
  word-wrap: break-word;
  margin: 20px;
}

.wrong-makeup-container-2 {
  text-align: center;
}

.wrong-makeup-2 {
  width: 100%;
  height: 85%;
  border-style: dashed;
  border-width: 10px;
  border-color: gray;
  height: 100%;
}

.wrong-makeup-screen-2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.button-send-answer-2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #30d585;
  border: none;
  border-radius: 50px;
  box-shadow: #999 0px 9px 0px 0px;
}

.button-send-answer-2:hover {background-color: #20c274}

.button-send-answer-2:active {
  background-color: #20c274;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}